
div {
    width:100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    animation: mymove 5s infinite;
    position: relative;

}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
  