@font-face {
    font-family: shabnam;
    font-weight: 200;
    src: url(../fonts/Shabnam.ttf);
}
@font-face {
    font-family: shabnam;
    font-weight: 400;
    src: url(../fonts/Shabnam-Bold.ttf);
}


*{
    color:#333;
    box-sizing: border-box;
    font-family: shabnam;
    font-weight: 200;
}

body{
margin: 0px;
direction: rtl;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

dd{
    margin: 0px 2px 0px 0px;
}

h3{
    margin: 10px 5px 0px 0px;
    color:#7cc4ff;

}
p{
    margin: 5px 0px ;
}
a {
    text-decoration: none;
}

a:hover{
    color:#000;

}


/*header section (1)*/
.header{

width: 100%;
height: 70px;
background-color: #fff;
box-shadow: 0px 1px 2px #bbb;
}
.container{
    padding: 0px 50px ;
}

.clearfix{
    clear: both;
}

/*checkbox hamber */
.menu_toggle{
    display: none;
}

.hamber_menu{
    width: 40px ;
    height: auto;

}

.hamber_menu img{
    display: none;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
    background: transparent;
    outline: none;
    width: 40px ;
    height: auto;
}

.header_nav1{
    display: none;
}


.menu_toggle:checked + .hamber_menu + .header_nav1 {
    display: block;
}











.header_logo{
    float: right;
    margin-top: 10px;
    margin-right: 15px;

}
.header_logo img{
    width: 75px ;
    height: auto;
}

.header_nav{
    float: right;
    margin-right: 17px;
}
.header_nav > li{
    display: inline-block;
    padding: 13px 10px;
    position: relative;
    margin-top: 15px;
    border-radius: 11px;
    margin: 15 0px 0px 0px;
    transition: all .6s;
}

.header_nav li span{
 cursor: pointer;
}

.drop_down_icon{
    width: 10px;
    height: 10px;
    background:url('../images/dropdown.png') center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.drop_down_menu{
    position:absolute;
    width: 130px;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 1px 3px #777;
    border-radius: 8px;
    top: 100%;

}
.drop_down_menu li{
    padding: 10px;
    cursor: pointer;
    transition: all .4s;


}

li .drop_down_menu{
    display: none;
    z-index: 10;
}

li:hover .drop_down_menu{
    display: block;

}
li .dasteh:hover{
    color: #000;
}

.header_nav li:hover{
    background-color: #eee;
    background-color: #4da6ff;
    color: #fff;
}
.header_nav li:hover a{
    color: #fff;
}
.header_nav li:hover span{
    color: #fff;
}

.drop_down_menu li:hover {
    background-color: #4da6ff;
    border-bottom: none;
    text-align: center;
    color:#fff;
}

.drop_down_menu li:hover:first-child{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.drop_down_menu li:hover:last-child{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}



/* hidden hamber style  */
.header_nav1{
    float: right;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 55px;
    width: 163px;;
    height: auto;
    position: absolute;    /* برای اینکه در صفحه شناور باشه  */
    z-index: 1000;         /* بالا باشه */
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);



}
.header_nav1 > li{
    padding: 10px 10px;
    position: relative;

}




.header_nav1 li span{
 cursor: pointer;
}

.drop_down_icon1{
    width: 10px;
    height: 10px;
    background:url('../images/dropdown.png') center no-repeat;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.drop_down_menu1{
    position:absolute;
    width: 130px;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 1px 3px #777;
    border-radius: 8px;
    top: 100%;
    right: 165px;
}
.drop_down_menu1 li{
    padding: 10px;
    cursor: pointer;

}

li .drop_down_menu1{
    display: none;
    z-index: 10;
}

li:hover .drop_down_menu1{
    display: block;

}
li .dasteh1:hover{
    color: #000;
}

.header_nav1 li:hover{
    border-bottom: none;
    background-color: #eee;
    text-align: center;
}

.header_nav1 li:hover:first-child{
    background-color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.header_nav1 li:hover:last-child{
    background-color: #eee;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}




.drop_down_menu1 li:hover {
    background-color: #eee;
    border-bottom: none;
    text-align: center;
}

.drop_down_menu1 li:hover:first-child{
    background-color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.drop_down_menu1 li:hover:last-child{
    background-color: #eee;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}




.login_btn{
    background-color: #0080ff;
    color: #fff;
    border-radius: 9px;
    border: none;
    padding: 9px 12px;
    margin: 19px 0;
    outline: none;
    cursor: pointer;
}
.btndiv{
float: left;
margin-left: 15px;
}
.login_btn:hover{
    background-color: #eaf4ff;
    color:#0080ff;
    border: .25px solid #0080dd
}



/*page_introduce setion (2)*/

.page_intro{
    width: 100%;
    height: atuo;
    background: #7cc4ff;
    background: linear-gradient(90deg, rgba(0, 232, 255, 1) 0%, rgba(3, 126, 255, 1)100%);
    background: linear-gradient(270deg, #007cf0, #ff36d7, #007cf0);
    padding: 30px 0px;
    background-size: 600% 600%;
    animation: gradientMove 8s ease infinite;

    
}


@keyframes gradientMove {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}












.page_intro_right{
    width: 50%;
    height: auto;
    float: right;
    text-align: right;
    padding: 15px;
}


@keyframes intro-h1 {
    0% {
      transform: scale(0.1);
      opacity: .75;
    }


    60% {
      transform: scale(1.1);
      opacity: 1;
    }

    80% {
      transform: scale(1);
    }
  }

.page_intro_right h1{
    color: #fff;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    animation:intro-h1 4s infinite;
}
  








.page_into_right_btns{

    margin: 40px auto;
    width: 300px;

}


.page_into_right_btn{
color: #fff;
border: 1px solid #fff;
border-radius: 8px;
background-color: transparent;
width: 120px;
font-size: 20px;
padding: 10px;
float: right;
margin: 5px;
cursor: pointer;
}


.page_into_right_btn:hover{
    border: 2px solid #fff;

}





.page_intro_left{
    width: 50%;
    height: auto;
    float: right;
}

.page_intro_left img{

    width: 100%;
    height: 370px;
    float: right;
    margin-top:20px;
    animation: fadeIn_page_intro 5s infinite;
}

@keyframes fadeIn_page_intro {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

/*new posts setion (3)*/


.new_post{
    width: 25%;
    height: auto;
    float: right;
    padding: 15px;
}
.new_post_card{
    width: 100%;
    height: 356px;
    padding-top: 3px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);


}









.container h1{
    font-weight: 200;
    padding: 5px 15px;

}
.new_post_pic{
    width: 100%;
    height: 250px;
}
.new_post_pic img{
    width: 100%;
    height: 100%;
    transition: all .75s ease;
    transform: scale(.75); 

}

@keyframes fadeInPost {
    from { opacity: 1; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }


.new_post_body{
    padding: 10px;
}

/* 1st line */
.new_post_title{
    margin: 0;
    float: right;
    font-weight: 400;
    font-size: 16px
}
.new_post_price{
    margin: 0px;
    float: left;
    color: #777;
    font-size: 14px;
    text-decoration: line-through;
}
#hoghough_size{

width: 80%;
margin-left: auto;
margin-right: auto;

}


/* 2nd line */

.new_post_description{
    margin: 0px;
    float: right;
    color: #777;
    font-size: 14px;
    margin-top:5px;
}
.new_post_price_off{
    margin: 0px;
    float: left;
    color: #000;
    font-size: 14px;
    margin-top:5px;
}


/* 3rd line */

.new_post_type_description{
    margin: 0px;
    float: right;
    color: #777;
    font-size: 14px;
    margin-top:14px;
}

.new_post_basket{
margin: 9px 1px 0px 25px;
float: left;
width: 45px;
height: 27px;
border-radius: 10px;
box-shadow: 0px 0px 2px 1px #777;
padding:2px 0px 0px 5px;
cursor: pointer;


}
.new_post_basket img{
float: left;
width: 30px;
height: 100%;
border-radius: 10px;

}


/* hover new posts*/
.new_post_card:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 0px #373737;
    border: 0.25px solid #2760ff;
}

.new_post_card img:hover{
    border-radius: 10px;
}

.new_post_card:hover img{
transform: scale(.75);
transform: scale(.75); 
transform: scale(1); 
}
.new_post_basket:hover{
    box-shadow: 0px 0px 0px #373737;
    border: 0.25px solid #2760ff;
}




/*advertisement section (4)*/

.advertisement_page{
    padding-top: 15px;
}

.advertisement_page_right{
width: 75%;
float: right;
height: 300px;
padding: 15px;
border-radius: 10px;

}

.advertisement_page_right img{
width: 100%;
height: 100%;
border-radius: 10px;
animation: fadeIn_advertisement 5s forwards;
}

.advertisement_page_left{
width: 25%;
float: left;
height: 300px;
padding: 15px;
border-radius: 10px;

}

.advertisement_page_left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .1s;
    animation: fadeIn_advertisement 5s forwards;


    }

@keyframes fadeIn_advertisement {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
      }

.advertisement_page_left img:hover{
    margin-top:3px;
}
.advertisement_page_right img:hover{
    margin-top:3px;
}



/*most sales posts section (5)*/

.container h1{
font-weight: 200;
padding: 15px 15px 0px 0px;

}

.most_sales{
background: linear-gradient(270deg, #fff, #72ceff, #fff);
background-size: 600% 600%;
animation: gradientMove 6s ease infinite 8s;
height: 858px;
width: 100%;
}

.most_sales_item{
    float: right;
    width: calc(100% / 3);
    padding-top: 15px;
    padding: 15px 15px 5px 15px;
}



/*why_us section (6)*/
.why_us_item{
    width: 25%;
    height: auto;
    float: right;
    padding:15px
}

.why_us_item_card{
    width:100%;
    height: 300px;
    text-align: center;
}

.why_us_item_card img{
    width: 50%;
    height: auto;
}
.why_us_item_card h3{
    color: #02227b;
}

.why_us_item_card img:hover{
    filter: opacity(80%);
}






/*footer section (7)*/

.main_footer{
    width: 100%;
    height: 250px;
    background-color: #444;
    background: linear-gradient(270deg, #007cf0, #00dfd8, #007cf0);
    background-size: 600% 600%;
    padding: 5px 0px;
    overflow: hidden;
    animation: gradientMove 8s ease infinite;

}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}






/*main footer first*/

.main_footer_first{
    width:30%;
    height: auto;
    float: right;
    margin: 0px;
    margin-right: 20px;

}
.main_footer_first h3{
    color:#ffd5a9;
}
.main_footer_first p{
    color:#fff;
    font-size: 14px;

}
.main_footer_first_adress h3{
    color:#ffd5a9;
}
.main_footer_first_adress p{
    color:#fff;
    font-size: 14px;

}

/*main footer middle1*/

.main_footer_middle1{
    width:15%;
    height: auto;
    float: right;
    margin-right: 60px;

}

.main_footer_middle1 h3{
    color:#ffd5a9;
}

.main_footer_middle1_ul{
    color:#fff;
    list-style-type: square;
    font-size: 14px;

}
.main_footer_middle1_ul li{
    color:#fff;
    font-size: 14px;

}


/*main footer middle2*/
.main_footer_middle2{
    width:15%;
    height: auto;
    float: right;
    margin-right: 30px;

}
.main_footer_middle2 h3{
    color:#ffd5a9;

}
.main_footer_middle2  dl, dt, dd{
    font-size: 13px;
    color:#fff;
}

/*main footer end*/

.main_footer_end{
    width:25%;
    height: auto;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}
.main_footer_end img{
    width:100%;
    height: 70%;
    float: right;
}


.main_footer_rule{
    margin-bottom: 0px;
    text-align: center;
    bottom: 0px;
    background-color: #444;
    width:100%;
    height:25px;
    padding-top:3px;
    padding-bottom: 2px;
}
.main_footer_rule p{
color: #fff;
margin: 0px;
}






/*single page*/
/*.breadcrumbs 2 */

.breadcrumbs{
    background-color: #eee;
    width: 100%;
    height:30px;
    padding: 5px 15px;
}



.breadcrumbs a::after{
    content: '';
    display: inline-block;
    background: url('../images/arrowleft.png');
    width: 10px;
    height: 10px;
    background-size: cover;
    margin-right: 5px;

}

/*single_product section 3 */

.single_product{
    width:100%;
    height: 450px;
    padding: 30px;
}

.single_product_right{
    width: 50%;
    height: 100%;
    float: right;
}

.single_product_right_pic{
    width: 80%;
    margin: auto;
}

.single_product_right_pic img{

    width:80%;
    height: 350px;
    border: 1px solid #666;
    border-radius: 8px;

}


.single_product_left{
    width: 50%;
    height: 400px;
    float: right;
}

.single_product_left_body{
    width: 100%;
}

.single_product_left_body h1{
    margin: 10px 0px 10px 0px

}

.single_product_left_body h3{

margin: 8px 0px 8px 0px;
color: #444;
}


.single_product_left_body_price{
    margin: 8px 0px 8px 0px;
    color: #000;
    font-size: 20px;
}

.book_sizes{

margin-top:20px;
margin-bottom:20px;
font-size: 18px;
}

.book_size{
    margin-right: 5px;
}


.single_product_left_body_score_star img{
    width:175px;
    height: 100px;
}

.single_product_left_body_btn button {
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #2ab300;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #2ab300;
}

.single_product_left_body_btn button:hover{
    background-color: #d0fdc372;
    color: #2ab300;
    border: 1px solid  #2ab300;
}




/*user comments*/

.user_comments{
    padding: 40px;
    
}
.user_comments h3{
    color: #222;
    font-size: 22;
    margin-bottom: 10px;
}

.user_comment{
    height: auto;
}


.user_comment_item{
position:relative;
height: auto;
overflow: hidden;
padding-right:115px;
padding-left: 15px;
padding-top: 40px;
background-color: #f9fafb;
border-radius: 30px;
margin-bottom: 10;
}
.user_pic{
    width: 80px;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 10px;
}
.user_name{
    font-size:19
}
.user_date{
    margin-right:10px;
    color:#02227b6a;
    font-size: 18;
}

.user_comment_item p{
    margin-top: 25px;
}

.user_liking{
    margin-top: 15px
}

.like_pic{
    width: 30px;
    height: auto;
    float:right

}
.like_text{
    margin-right: 10px;
    color:#1a6e00;
    float: right;
}

.like_text1{
    margin-right: 10px;
    color:#c74a14;
    float: right;
}

/*telegram icon animation */


.telegram-icon {
    position: fixed;
    bottom: -100px; 
    right: 20px;
    opacity: 0;
    animation: slideUpIcon 1s forwards; 
}

.telegram-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: #56b3ff 0px 0px 4px 0px;

}

@keyframes slideUpIcon {
    to {
        bottom: 20px; /* بالا آمدن آیکن به 20px از پایین */
        opacity: 1;
 
    }
}

.telegram-icon-txt{
    position: fixed;
    bottom: -100px; /* متن هم خارج از صفحه در پایین */
    right: 80px;
    opacity: 0; /* پنهان بودن متن در ابتدا */
    animation: slideUpText 1s forwards 2s; /* انیمیشن بالا آمدن متن با تأخیر */
}

.telegram-icon-txt h3{
    margin: 0;
    padding: 10px;
    background-color: #0088cc;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    width: max-content;
}
@keyframes slideUpText {
    to {
        bottom: 25px;
        opacity: 1;
    }
}



/* contactUs page */
.contact_us .container{
    width: 100%;
    padding: 0px;
}

.sections{
    display: flex;
    width: 100%;
    height: 320px;
    align-items: flex-start;
}

.contact_us_h1{
    width: 50%
}
.contact_us_h1 h1{
text-align: center;
}

.right_section{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 300px;




}
.row{
    display: flex;
    flex-wrap: wrap;

}

.contact_inputs{
width: 50%;
padding-right: 15px;
}


.contact_inputs label{
    display: block;
    margin-bottom: 5px;
    color: #666
    
}

.contact_inputs input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: .5px solid #bbb;
    border-radius: 7px;
}

.contact_inputs input:focus {
    outline: .5px solid #2647a3b2;  
    border:  none;
  }
  
.inputs_row{
    display: flex;
    width: 100%
}


.contact_message{
    width: 100%;
    padding-right: 15px;

}


.contact_message label{
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.contact_message textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: .5px solid #bbb;
    border-radius: 7px;
    min-height: 50px;
}
.contact_message textarea:focus {
    outline: .5px solid #2647a3b2;  
    border:  none;
  }


.send_btn{
    width: 100%;
    padding-right: 15px;

}

.send_btn input{
    padding: 10px;
    outline: none;
    border-radius: 7px;
    border: none;
    color: #fff;
    width: 100%;
    background-color: #0080ff;
    cursor: pointer;
}

.send_btn button:hover{
    background-color: #eaf4ff;
    color:#0080ff;
    border: .25px solid #0080dd
}





.left_section{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 400px;
    align-self: flex-start

}

.left_section_pic{
    width: 100%;
    height: 100%;
    padding: 0;
}


.left_section_pic img{
    width: 500px;
    height: auto;
    margin-right: 100px;
    margin-top: -150px;
    object-fit: cover;
  }






























.succesfully{
    display: flex;
    width: 100%;
    justify-content: center;

}


.succesfully_box{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.succesfully_box img{
    width: 300px;
    height: auto;
    margin-top: 15px;
    justify-content: center;
    
}
.succesfully_box h2{
    justify-content: center;
    text-align: center;

}

.back_btn{
    width: 300px;
    padding: 10px;
    background-color: #0080ff;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;  
}
.back_btn a{
    color: #fff;

}

.back_btn  button{
    outline: none;
}

.back_btn:hover{
    background-color: #eaf4ff;
    color:#0080ff;
    border: .25px solid #0080dd
}


.back_btn:hover a{
    color:#0080ff;

}


.introducing_sections{
    width: 100%;
    height: 250px;
    background-color: #8cc3e6;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);


}

.introducing_sections_right{
    width: 20%;
    height: 200px;
    float: right;
    padding-top: 12px;
    padding-right: 20px;

}
.introducing_sections_right_pic{
    width: 200px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

.introducing_sections_right_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.introducing_sections_left{
    width: 80%;
    height: 200px;
    float: right;
    padding-top: 28px;
    padding-right: 22px;
}


.info {
    line-height: 2;
}

.info span {
    margin-left: 10px;
}











































































/*responsives management*/

@media screen and (max-width:1300px){
    .new_post{
        width:25%;
    }
    .container{
        padding: 0px 60px;
    }
}



@media screen and (max-width:1295px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 300px;
    }
    .advertisement_page_left{
        display: none;
    }
    .advertisement_page_right{
        width: 100%;
    }
    .most_sales_item{
        width: 50%
    }
    .most_sales{
        height: 1215px;
    }
}

@media screen and (max-width:1295px){
    .left_section_pic img {
        margin-top: -117px;
        margin-right: 17px;
    }
    
    
}

















@media screen and (max-width:1190px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 250px;
    }
}
@media screen and (max-width:1116px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 150px;
    }
}





@media screen and (max-width:1070px){
    .main_footer_end{
        margin-right:40px;
    }
    .introducing_sections_left{
        padding-right: 63px;
    
    }
}


@media screen and (max-width:1035px){
    .left_section_pic img {
        margin-top: -117px;
        margin-right: 0px;
    }
    
    
}




@media screen and (max-width:1000px){
    .main_footer_end{
        margin-right:20px;
    }

    .right_section {
        width: 100%;
        padding-left: 10px;
}
.left_section{
    display: none;
}

}

@media screen and (max-width:990px){
    .single_product_right_pic img{
        width: 90%;
    }

}

@media screen and (max-width:935px){

    .main_footer_end{
        margin-right: 18px;
    }
}



@media screen and (max-width:900px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 105px;
    }
}


@media screen and (max-width:890px){
    .single_product_right_pic img{
        width: 100%;
    }
    .introducing_sections_left {
        padding-right: 110px;
    }

}



@media screen and (max-width:855px){
    .main_footer_end{
        margin-right:15px;
    }
}

@media screen and (max-width:835px){
    .main_footer_middle1{
        margin-right:40px;
    }
    .main_footer_middle2{
        margin-right: 20px;
        margin-left: 5px;
    }

}

@media screen and (max-width:825px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 80px;
    }
    .main_footer_end{
        margin-right: 15px;
    }
}

@media screen and (max-width:810px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 70px;
    }
}


@media screen and (max-width:820) {
    .page_intro_left img {
        width: 100%;
        height: 343px;
        float: right;
        margin-top: 26px;
    }
}

@media screen and (max-width:790px){
    .single_product_right{
        width: 60%;
    }
    .single_product_left{
        width: 40%;
    }


}





@media screen and (max-width:760px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 60px;
    }
}

@media screen and (max-width:750px){
    h3{
        font-size: 15px;
    }
}

@media screen and (max-width:745px){
    .main_footer_middle2{
        margin-right: 2px;
        margin-left: 5px;
}
    .why_us_item{
    width: 50%;
}
}

@media screen and (max-width:732px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 50px;
    }
}
@media screen and (max-width:718px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 40px;
    }
}


@media screen and (max-width:710px){

.main_footer_end {
    margin-right: 20px;
}
}

@media screen and (max-width:690px){

.main_footer_middle1 {
    margin-right: 30px;
}
.main_footer_end {
    margin-right: 25px;
}

.single_product_right_pic{
    width:85%;
}

.header_nav {
    float: right;
    margin-right: 4px;
}


}


@media screen and (max-width:675px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 30px;
    }
    .page_intro_left{
        display: none;
    }
    .page_intro_right{
        width:100%;
    }
}
@media screen and (max-width:665px){

.main_footer_first {
    width: 25%
}
.main_footer_end {
    margin-right: 40px;
}
}

@media screen and (max-width:650px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 20px;
    }
}

@media screen and (max-width:642px){
    .new_post{
        width:50%;
    }
    .container{
        padding: 0px 15px;
    }
}

@media screen and (max-width:629px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 120px;
    }
    .advertisement_page_right{
    display: none;
    }
    .advertisement_page_left{
    display: block;
    width: 100%;
    }
    .most_sales_item{
        width: 100%;
    }
    .most_sales{
        height:2347;
    }
    .container .btndiv{
            float: right;
    }
}



@media screen and (max-width:599px){
    h3 {
        font-size: 14px;
    }
    .main_footer_first p {
        font-size: 13px;
    }
    .main_footer_middle1_ul li {
        font-size: 13px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 13px;
    }

    .single_product_right_pic {
        margin-right: 0px;
    }
    .single_product {
        padding: 30px 20px;
    }

    .introducing_sections_left {
        padding-right: 135px;
    }

    .info{
        font-size: 14;
    }

}



@media screen and (max-width:592px){
.header_nav > li {
    display: inline-block;
    padding: 15px 8px;

}
}




@media screen and (max-width:578px){

.header_nav > li{
    padding: 15px 7px;
}

}







@media screen and (max-width:565px){
.btndiv{
margin-left:10px;
}
.header_logo{
    margin-right:10px;
    }

}

@media screen and (max-width:560px){
    .main_footer_end{
        width: 25%;
    }
.main_footer_end img {
    height: 60%;
    }

h3 {
        font-size: 13px;
    }
    .main_footer_first p {
        font-size: 12px;
    }
    .main_footer_middle1_ul li {
        font-size: 12px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 12px;
    }
}


@media screen and (max-width:560px){
.book_sizes {
    margin-bottom: 0px;
    width: 200px;

}
.single_product_left_body_score_star img{
    width: 150px;
    height: 97px;
}

.introducing_sections_left {
    padding-right: 127px;
    padding-top: 41px;
}
.info{
    font-size: 13px;
}
}
@media screen and (max-width:557px){

    .header_nav > li {
        padding: 15px 6px;
    }

}


@media screen and (max-width:555px){
    .main_footer_rule p{
        font-size: 13px;
    }

}



@media screen and (max-width:549px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 100px;
    }

    .btndiv{
        margin-left:5px;
        }
        .header_logo{
            margin-right:5px;
            }
    
}




@media screen and (max-width:550px){
    .user_comment_item{
        padding-right: 90px;
        padding-top: 30px;
    }
    .user_pic {
        width: 60px;
    }
    .user_comment_item p {
        margin-top: 18px;
    }
}




@media screen and (max-width:539px){
    
    .header_logo{
        display: none;
    }
    .btndiv{
        margin-left:10px;
        }
    
    .main_footer_rule p{
        font-size: 10px;
    }
}


@media screen and (max-width:540px){

    .introducing_sections {
    width: 100%;
    height: 410px;
    }
    .introducing_sections_right {
        width: 100%;
    }
    .introducing_sections_right_pic {
        margin: auto;
    }
    .introducing_sections_left {
        padding-right: 67px;
        width: 100%;
    }
}












@media screen and (max-width:530px){

.single_product_right{
    width: 90%;
    margin: 0 5%;
}
.single_product_left{
    width: 90%;
    margin: auto;
    
}

.single_product_right_pic{
    margin: auto;
    width: 100%;
    padding: 0 10px;
}
.book_sizes {
    margin-bottom: 0px;
    width: auto;
    

}

.single_product_left_body{
    text-align: center;
}


}








@media screen and (max-width:527px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 40px;
    }
}

@media screen and (max-width:525px){
    .main_footer_first{
        width: 20%;
    }
    h3 {
        font-size: 12px;
    }
    .main_footer_first p {
        font-size: 11px;
    }
    .main_footer_middle1_ul li {
        font-size: 11px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 11px;
    }
    .header_nav > li {
        padding: 15px 6px;
    }
    
}



@media screen and (max-width:520px){
    .main_footer_end{
        width: 25%;
    }
.main_footer_end img {
    height: 60%;
}
}

@media screen and (max-width: 512px){
    .why_us_item_card{
        height: 200px;
    }
}

@media screen and (max-width:500px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 60px;
    }
}




@media screen and (max-width:485px){

.main_footer_end{
    height: 80%;
}
h3 {
    font-size: 11px;
}
.main_footer_first p {
    font-size: 10px;
}
.main_footer_middle1_ul li {
    font-size: 10px;
}
.main_footer_middle2 dl, dt, dd {
    font-size: 10px;
}
    

.btndiv {
    margin-left: 8px;
}


}



@media screen and (max-width:480px){

    .btndiv{
        margin-left: 5px;
    }
    .header_nav > li{
        padding:12px 8px;
    }
    
}


@media screen and (max-width:460px){

    .btndiv{
        margin-left: 30px;
    }
    nav .header_nav{
    display: none;
    }
    .hamber_menu{
    display: block;
    margin-top: 0px;
    border: none;
    background: transparent;
    outline: none;
    }
    .hamber_menu img{
        display: block;

}
}
@media screen and (max-width:475px){
    .header_nav > li{
        padding:12px 6px;
    }
    
}

@media screen and (max-width:455px){

    .main_footer_first{
        width: 25%;
    }

    .main_footer_middle1{
        margin-right: 40px

        }
    .main_footer_middle2{
        margin-right: 40px
    
    }

    .main_footer_end {
        height: 59%;
        width: 33%;
    }

    h3 {
        font-size: 14px;
    }
    .main_footer_first p {
        font-size: 12px;
    }
    .main_footer_middle1_ul li {
        font-size: 12px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 12px;
    }

    .main_footer_middle1{
        margin-right: 20px;
        width:20%
    }
    .main_footer_middle2{
        margin-right: 10px;
        width:20%
    }

    .main_footer_rule p{
        font-size: 13px;
    }

}


@media screen and (max-width:450px){
    .user_pic {
        width: 45px;
    }
    .user_comment_item {
        padding-right: 72px;
        padding-top: 27px;
    }
}

@media screen and (max-width:430px){
    .user_comment_item {
        padding-right: 72px;
    }
    .like_text {
        font-size:15px;
    }
    .like_text1 {
        font-size:15px;
    }
    .like_pic {
            width: 23px;
    }

}




@media screen and (max-width:421px){

    h3 {
        font-size: 13px;
    }
    .page_intro{ 
        height: 300px;

    }
    .page_intro h1{ 
    font-size: 42px        
    }
}




@media screen and (max-width:410px){
    .single_product_right {
    width: 100%;
    margin: 0px 0%;
    }

        .like_text {
            font-size:13px;
        }
        .like_text1 {
            font-size:13px;
        }
        .like_pic {
                width: 18px;
        }
    }
    



@media screen and (max-width:395px){
    .user_name {
        font-size: 17px;
    }
    .user_date {
        font-size: 15px;
    }
    .user_comment_item p {
        font-size: 13;
    }
}




@media screen and (max-width:392px){

    h3 {
        font-size: 12px;
    }
    .main_footer_first p {
        font-size: 10px;
    }
    .main_footer_middle1_ul li {
        font-size: 10px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 10px;
    }

    .main_footer_rule p{
        font-size: 10px;
    }
}



@media screen and (max-width:384px){

.introducing_sections_left {
    padding-right: 20px;
    width: 100%;
}
}

@media screen and (max-width:380px){

    .why_us_item_card p{
        font-size: 14px;
    }
    
}


@media screen and (max-width:422px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 20px;
    }
}

@media screen and (max-width:378px){

    .like_text {
        font-size: 12px;
    }
    .like_text1 {
        font-size: 12px;
    }
}
    
    


@media screen and (max-width:373px){

.page_intro h1 {
    font-size: 35px;
    }
}


@media screen and (max-width:366px){
    .user_comment_item {
        padding-right: 65px;
    }
    .user_pic {
        width: 40px;
    }
    .user_name {
        font-size: 15px;
    }
    .user_date {
        font-size: 12px;
    }
}





@media screen and (max-width:362px){

    h3 {
        font-size: 11px;
    }
    .main_footer_first p {
        font-size: 9px;
    }
    .main_footer_middle1_ul li {
        font-size: 9px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 9px;
    }
}


@media screen and (max-width:357px){

    .user_comment_item p {
        font-size: 12px;
    }
    .like_pic {
        margin-right: -30px;
    }
    .like_text {
        margin-right: -3px;
    }
    .like_text1 {
        margin-right: -3px;
    }

    .drop_down_menu1 {
        right: 100px;
}

}






@media screen and (max-width:350px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 10px;
    }
    .single_product {
        padding: 30px 5px;
    }
}




@media screen and (max-width:335px){
    h3 {
        font-size: 10px;
    }
    .main_footer_first p {
        font-size: 8px;
    }
    .main_footer_middle1_ul li {
        font-size: 8px;
    }
    .main_footer_middle2 dl, dt, dd {
        font-size: 8px;
    }


}



@media screen and (max-width:322px){

    .why_us_item_card p{
        font-size: 12px;
    }
    
}



@media screen and (max-width:320px){
    .new_post{
        width:100%;
    }
    .container{
        padding: 0px 5px;
    }
}

@media screen and (max-width:318px){
.page_intro h1 {
    font-size: 31px;
}
}

@media screen and (max-width:300px){
    .why_us_item{
        width: 100%;
    }
}















